.new{
    display: flex;
    flex-direction:row;
    gap:10px;
    width: 1120px;
    box-sizing: border-box;
    margin-left: 10px;
    /* margin-top: 10px; */
    /* gap:16px; */
    /* margin: 20px 0px 20px 10px; */
}



.cardsummary{
    width:690px;
    display: inline-flex;
    height: 349px;
    padding: 18px 18px 10px 18px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.34);
    box-sizing: border-box;
    }

.header{
display: flex;
width: 654px;
height: 34px;
justify-content: space-between;
align-items: center;
}
.rowTable{
    /* width: 158px; */
    height: 34px;
    display: flex;
   align-items: center;
    gap: 8px;   
}
.days{
display: flex;
height: 34px;
padding: 2px 14px;
align-items: center;
gap: 10px;
border-radius: 17px;
background: #FFF;
box-sizing: border-box;
}
.textDyas{
        color: #060606;
        font-family: Aeonik Pro TRIAL;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.14px;
    }
.iconDays{
width: 14px;
height: 14px;
 /* transform: rotate(-90deg); */
}


.days1{
display: flex;
height: 34px;
padding: 2px 14px;
align-items: center;
gap: 10px;
border-radius: 17px;
background: #FFF;
/* box-sizing: border-box; */
}
.textDyas1{
color: #060606;
font-family: Aeonik Pro TRIAL;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.14px;
}
.iconDays1{
width: 14px;
height: 14px;
/* transform: rotate(-90deg); */
}


.days2{
    display: flex;
    height: 34px;
    padding: 2px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 17px;
    background: #FFF;
    box-sizing: border-box;
}
.textDyas2{
    color: #060606;
    font-family: Aeonik Pro TRIAL;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}
.iconDays2{
width: 14px;
height: 14px;
 /* transform: rotate(-90deg); */
}


.grid1{
    width: 654px;
    height: 224px;
   display: grid;
   grid-template-columns: 200px 150px 120px 85px 60px;
   align-items: start;
   gap: 10px;   
}
.grid-item-heading{
    color: #060606;
    font-family: Aeonik Pro TRIAL;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;   
}

.grid-item-text{
color: #060606;
font-family: Aeonik Pro TRIAL;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.grid-item1{
color: #060606;
text-align: center;
font-family: Aeonik Pro TRIAL;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 111.111% */
letter-spacing: -0.18px;
}
                
.percent{
 width: 20px;
color: #060606;
text-align: center;
font-family: Aeonik Pro TRIAL;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 111.111% */
letter-spacing: -0.18px;
}





.grid-item-text-new{
    color: #060606;
text-align: center;
font-family: Aeonik Pro TRIAL;
font-size: 9px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 111.111% */
letter-spacing: -0.18px;
}