
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pqr{
    width: 400px;
    height: 349px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.34);
    display: inline-flex;
padding: 18px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
    
}

.container{ 
width:250px;
height:250px;
/* border: 1px solid black; */
border-radius: 50%;
top:120px;
left:140px;
position: relative;
}


.positionFixed{
    position: absolute;
    top:-570px;
    right: -140px;
}



.center-hide{
    width:240px;
    height: 240px;
    background-color: #f2e9e3;
    border-radius: 50%;
    position: absolute;
    top:-244px;
    right: -20px; 
    z-index: 10;
}


.bottom-hide{
    width: 260px;
    height: 143px;
    background-color: #f2e9e3;
    position: absolute;
    z-index: 40;
    top: -127px;
    right: -28px;
}


.center-point{
    width:10px;
    height:10px;
    /* background-color: black; */
    border-radius: 50%;
    position:absolute;
    top: 150px;
    left: 137px;
}

.scale1{
    width: 1px;
    height: 250px;
    background-color: rgb(135, 130, 130);
    position: absolute;
    right: 100px;
    top:-250px;
    transform: rotate(-90deg);
    
}
.scale0{
    /* width: 1px;
    height: 250px; */
    background-color: rgb(135, 130, 130);
    position: absolute;
    right: 100px;
    top:-250px;
    transform: rotate(-90deg);
    color: black;
    
}

.scale2{

    transform: rotate(-87deg);  
}
.scale3{
    transform: rotate(-84deg); 
}
.scale4{
    transform: rotate(-81deg); 
}
.scale5{
    transform: rotate(-78deg); 
}
.scale6{
    transform: rotate(-75deg); 
}
.scale7{
    transform: rotate(-72deg); 
}
.scale8{
    transform: rotate(-69deg); 
}
.scale9{
    transform: rotate(-66deg); 
}
.scale1a{
    transform: rotate(-63deg); 
}
.scaleA{
    transform: rotate(-60deg); 
}
.scaleB{
    transform: rotate(-57deg); 
}
.scale13{
    transform: rotate(-54deg); 
}
.scale14{
    transform: rotate(-51deg); 
}
.scale15{
    transform: rotate(-48deg); 
}
.scale16{
    transform: rotate(-45deg); 
}
.scale17{
    transform: rotate(-42deg); 
}
.scale18{
    transform: rotate(-39deg); 
}
.scale19{
    transform: rotate(-36deg); 
}
.scale2b{
    transform: rotate(-32deg); 
}
.scale21{
    transform: rotate(-30deg); 
}
.scale22{
    transform: rotate(-27deg); 
}
.scale23{
    transform: rotate(-24deg); 
}
.scale24{
    transform: rotate(-21deg); 
}
.scale25{
    transform: rotate(-18deg); 
}
.scale26{
    transform: rotate(-15deg); 
}
.scale27{
    transform: rotate(-12deg); 
}
.scale28{
    transform: rotate(-9deg); 
}
.scale29{
    transform: rotate(-6deg); 
}
.scale30{
    transform: rotate(-3deg); 
}
.scale31{
    transform: rotate(0deg); 
}
.scale32{
    transform: rotate(3deg); 
}
.scale33{
    transform: rotate(6deg); 
}
.scale34{
    transform: rotate(9deg); 
}
.scale35{
    transform: rotate(12deg); 
}
.scale36{
    transform: rotate(15deg); 
}
.scale37{
    transform: rotate(18deg); 
}
.scale38{
    transform: rotate(21deg); 
}
.scale39{
    transform: rotate(24deg); 
}
.scale40{
    transform: rotate(27deg); 
}
.scale41{
    transform: rotate(30deg); 
}
.scale42{
    transform: rotate(33deg); 
}
.scale43{
    transform: rotate(36deg); 
}
.scale44{
    transform: rotate(39deg); 
}
.scale45{
    transform: rotate(42deg); 
}
.scale46{
    transform: rotate(45deg); 
}
.scale47{
    transform: rotate(48deg); 
}
.scale48{
    transform: rotate(51deg); 
}
.scale49{
    transform: rotate(54deg); 
}
.scale50{
    transform: rotate(57deg); 
}
.scale51{
    transform: rotate(60deg); 
}
.scale52{
    transform: rotate(63deg); 
}
.scale53{
    transform: rotate(66deg); 
}
.scale54{
    transform: rotate(69deg); 
}
.scale55{
    transform: rotate(72deg); 
}
.scale56{
    transform: rotate(75deg); 
}
.scale57{
    transform: rotate(78deg); 
}
.scale58{
    transform: rotate(81deg); 
}
.scale59{
    transform: rotate(84deg); 
}
.scale11{
    transform: rotate(87deg); 
}
.scale6c{
    transform: rotate(90deg); 
}



.square1{
width: 220px;
height: 220px;
flex-shrink: 0;
border-radius: 298px;
/* background: #1A932E; */
box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.45) inset;
z-index: 11;
position: absolute;
top:480px;
right:234px;
background: conic-gradient( 
     green 12deg 60deg, rgb(210, 159, 5) 18deg 120deg, 
     red 30deg 180deg, rgb(202, 202, 204) 110deg 200deg );
     transform: rotate(260deg);
}


.card{
width: 200px;
height: 200px;
flex-shrink: 0;
border-radius: 298px;
background: #f2e9e3;
box-shadow: 0px 3px 4px 0px rgba(255, 255, 255, 0.45) inset;
z-index: 17;
position: absolute ;
top:490px;
right:244px;
}
 

.text23{
    color: #060606;
    font-family: Aeonik Pro TRIAL;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px; 
    /* position: absolute;  */
    /* top:500px;
    right:320px; */
    z-index: 60;
}
.digit{
    position: absolute;
    z-index: 200;
    top: -20px;
    right:170px;
}

.completed{
    color: #9A9A9A;
    text-align: center;
    font-family: Aeonik Pro TRIAL;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
  
}
.overall{
color: #060606;
font-family: Aeonik Pro TRIAL;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.16px;
}
.progress{
display: flex;
height: 34px;
padding: 2px 14px;
align-items: center;
gap: 10px;
border-radius: 17px;
background: #FFF;
}
.overallprogress{
    display: flex;
width: 364px;
justify-content: space-between;
align-items: center;
}

.datanew{
    display: flex;
    width: 364px;
    justify-content: space-between;
    /* align-items: flex-start; */
    flex-direction: row;
    z-index: 80;
   margin-bottom: 10px;
   position: static;
   
}

.commonPro{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 6px;
}
.nineFive{
    color: #060606;
    font-family: Aeonik Pro TRIAL;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.22px;
}
.textBottom{
color: #797979;
font-family: Aeonik Pro TRIAL;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.twoSix{
color: #1A932E;
font-family: Aeonik Pro TRIAL;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.22px;
}

.threeFive{
color: #DFA510;
font-family: Aeonik Pro TRIAL;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.22px;
}
.threefive{
color: #E65F2B;
font-family: Aeonik Pro TRIAL;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.22px;
}
.zero{
color: #000;
font-family: Aeonik Pro TRIAL;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
position: absolute;
top:583px;
right:464px;
z-index: 105;
transform: rotate(90deg); 
}
.twoFive{
    color: #000;
    font-family: Aeonik Pro TRIAL;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: absolute;
    top:480px;
    right:395px;
    z-index: 105;
    /* transform: rotate(90deg); */

}
.Fivezero{
    color: #000;
    font-family: Aeonik Pro TRIAL;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: absolute;
    top:482px;
    right:276px;
    z-index: 105; 
}
.hundred{
color: #000;
font-family: Aeonik Pro TRIAL;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
position: absolute;
top:582px;
right:210px;
z-index: 105;
 
}
